* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #1a191f;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.movie {
  width: 300px ;
}

.movie img {
  max-width: 100% ;
}